.chonder {
  margin-top: 10px;
  .flexContainer {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
  }

  .display-single-chonk {
    .favorite-button,
    .skip-button {
      position: absolute;
    }

    .favorite-button {
      bottom: 60px;
    }

    .skip-button {
      position: absolute;
    }
  }
}

.chonderCatImageContainer {
  padding: 10px;
  background: $primaryBackgroundDarkerGrey;
  display: flex;
  justify-content: center;
  height: 50vh;
  border-top-left-radius: 10px;
  border-top-right-radius: 10px;
  position: relative;

  img {
    height: 100%;
    width: auto;
    border-radius: 10px;
  }
}

.chonkScaleImageContainer img {
  width: 100%;
}

.userInput {
  width: 40%;
  margin: 10px 0;
}

@media only screen and (max-width: 860px) {
  .userInput {
    width: 70%;
  }
}

@media only screen and (max-width: 720px) {
  .userInput {
    width: 60%;
  }
}

@media only screen and (max-width: 620px) {
  .userInput {
    width: 70%;
  }
}

@media only screen and (max-width: 425px) {
  .chonderCatImageContainer {
    img {
      height: 100%;
      width: auto;
      border-radius: 10px;
    }
  }

  .chonderCatImageContainer {
    height: 35vh;
  }

  .userInput {
    width: 100%;
    margin: 20px;
  }
}
