@import url("https://fonts.googleapis.com/css?family=Cabin|Playfair+Display:400,700&display=swap");

body {
  font-size: 20px;
  background: $primaryBackgroundGrey;
  font-family: "Cabin", sans-serif;
}

img {
  width: 100%;
}

p {
  font-family: "Cabin", sans-serif;
}

h2 {
  text-align: center;
}

.wrapper {
  max-width: 1440px;
  width: 90%;
  margin: 0 auto;
}

/* button */

a {
  text-decoration: none;
  cursor: pointer;
}

button {
  font-family: "Cabin", sans-serif;
  font-weight: 700;
  border: none;
  background: $primaryBackgroundDarkerGrey;
  display: inline-block;
  padding: 10px 20px;
  margin: 0 10px;
  border-radius: 5px;
  box-sizing: border-box;
  text-decoration: none;
  color: $primaryDarkBlue;
  text-align: center;
  transition: all 0.2s;
}

button:hover {
  color: $primaryBackgroundGrey;
  background: $primaryDarkBlue;
}

// responsive

@media only screen and (max-width: 480px) {
  h1 {
    font-size: 0.5rem;
    color: red;
  }
}

@media only screen and (max-width: 425px) {
  button {
    font-size: 0.8rem;
  }
}

@media only screen and (max-width: 340px) {
  button {
    padding: 5px 10px;
    margin: 0 5px;
  }
}
