/* hall of chonks */
/* giving out metals */
.hallListOfCats div {
  position: relative;
}

.hallListOfCats div.hallCatImageContainer:nth-of-type(1)::after,
.hallListOfCats div.hallCatImageContainer:nth-of-type(2)::after,
.hallListOfCats div.hallCatImageContainer:nth-of-type(3)::after {
  content: "";
  background-repeat: no-repeat;
  position: absolute;
  top: -30px;
  right: -50px;
  display: inline-block;
  width: 100px;
  height: 200px;
  background-size: 80px auto;
  z-index: 3;
}

.hallListOfCats div:nth-of-type(1)::after {
  background-image: url(../assets/Gold.png);
}

.hallListOfCats div:nth-of-type(2)::after {
  background-image: url(../assets/silver.png);
}

.hallListOfCats div:nth-of-type(3)::after {
  background-image: url(../assets/bronze.png);
}

.hallCatImageContainer {
  display: flex;
  flex-direction: column;
  justify-content: center;
  width: auto;
  height: 450px;
  margin: 25px 10px 20px 10px;
  background: $primaryBackgroundDarkerGrey;
  padding: 8px;
  border-radius: 10px;
}

.hallCatImageContainer img {
  height: 80%;
  width: auto;
  object-fit: cover;
  border-radius: 10px;
  padding-bottom: 10px;
}

.hallListOfCats {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  flex-direction: row;
}

.user-controls {
  margin: 5px 0;
  text-align: center;

  button {
    font-size: 1rem;
    margin-top: 3px;
  }
}

/* responsive */
@media only screen and (max-width: 900px) {
  .hallCatImageContainer {
    height: 420px; //blaze it
    width: 40%;
  }
}

@media only screen and (max-width: 425px) {
  .hallCatImageContainer {
    width: 100%;
  }
}
