
  .login {
    margin-top: 20%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
  }
  
  
  /* login */
  h2.welcomeText {
    font-size: 3rem;
    margin: 20px 0 5% 0;
  }
  
  .typedJs {
    margin-bottom: 40px;
  }
  
  .typedJs span {
    font-size: 2rem;
    color: #70c1b3;
  }