#chonder {
  font-weight: bold;
}

section.userProfile {
  height: 80vh;
  display: flex;
  text-align: center;
  p {
    margin: 20px;
    text-align: center;
  }

  .userDisplayName {
    font-family: "Playfair Display", serif;
    font-weight: bold;
    font-size: 2rem;
    margin: 20px;
  }
}

#mediaCapture {
  display: none;
}

#image-form {
  width: auto;
  padding: 0 6px 0 1px;
  min-width: 0;
}

ul.uploadedCats,
ul.favoriteCats {
  display: flex;
  border: 2px dotted $primaryLighterGreen;
  padding: 20px;
  overflow: scroll;

  img {
    height: 100%;
    width: auto;
  }

  li {
    margin-right: 10px;
    height: 15vh;
    width: auto;
    margin: 10px;
  }
}

/* end of uploading */
