section.userProfile {
  height: 80vh;
  display: flex;
  text-align: center;
  p {
    margin: 20px;
    text-align: center;
  }

  .userDisplayName {
    font-family: "Playfair Display", serif;
    font-weight: bold;
    font-size: 2rem;
    margin: 20px;
  }
}

#mediaCapture {
  display: none;
}

#image-form {
  width: auto;
  padding: 0 6px 0 1px;
  min-width: 0;
}

ul.uploadedCats,
ul.favoriteCats {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  border: 2px dotted $primaryBackgroundDarkerGrey;
  padding: 20px;

  img {
    height: 100%;
    width: auto;
  }

  li {
    height: 15vw;
    margin: 5px;
  }
}

// https://w3bits.com/css-image-hover-zoom/
/* [1] The container */
.userUploadedImages,
.userFavoriteImages {
  height: 300px; /* [1.1] Set it as per your need */
  overflow: hidden; /* [1.2] Hide the overflowing of child elements */
}

/* [2] Transition property for smooth transformation of images */
.userUploadedImages img,
.userFavoriteImages img {
  transition: transform 0.3s ease;
}

/* [3] Finally, transforming the image when container gets hovered */
.userUploadedImages:hover img,
.userFavoriteImages:hover img {
  transform: scale(1.2);
}
