// variables

// font colours
$primaryBrown: #a47b5b;
$primaryDarkBrown: #625146;
$primaryDarkGrey: #afa9aa;
$primaryBlack: #0f0f0f;
$primaryWhite: #ffffff;
$primaryDarkBlue: #247ba0;
$primaryAccentRed: #ff1654;
$primaryBlack: #0f0f0f;
$primaryWhite: #ffffff;

// background colors
$primaryBackgroundBlack: #171b0e;
$primaryBackgroundGrey: #e8e8e8;
$primaryBackgroundDarkerGrey: #bebebe;


// mixins

// Centering
@mixin flexCenter {
  display: flex;
  justify-content: center;
  align-items: center;
}
