body {
  font-size: 20px;
  margin-top: 80px;
  background: #a3a5c3;
}

/* colors */
/* 6947E5
4D7C8A
523260
A3A5C3 */

img {
  width: 100%;
}

h2 {
  text-align: center;
}

.wrapper {
  max-width: 1440px;
  width: 90%;
  margin: 0 auto;
}

/* button css */

a {
  text-decoration: none;
  cursor: pointer;
}

button,
nav a {
  box-shadow: 4.1px 4.1px 7.2px #27aaff, 0px 0px 4.1px #41b4ff;
  border: 5px solid #ffcdff;
  border-radius: 12px;
  background: #ffff7d;
  padding: 5px;
  margin: 10px;
}
/* end of buttons */

.login {
  margin-top: 20%;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

/* Nav */
nav {
  z-index: 9001;
}

h1 {
  cursor: pointer;
}

nav.mainNav {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  background: #6947E5;
  padding: 10px 0;
}

.mainNav ul {
}

.mainNav li {
  float: right;
  margin: 10px;
}

.mainNav li.titleIcon {
  float: left;
  margin: 0, 30px;
}
/* end of nav */

.chonder .flexContainer {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.chonderCatImageContainer img {
  height: 100%;
  width: auto;
}

.chonderCatImageContainer {
  display: flex;
  justify-content: center;
  height: 50vh;
  width: 45%;
}

.userInput {
  width: 50%;
  margin-top: 10px;
}

.hallCatImageContainer {
  width: 20%;
}

/* ranged input css */
input[type="range"].ratingSlider {
  -webkit-appearance: none;
  width: 100%;
  margin: 8.35px 0;
}
input[type="range"].ratingSlider:focus {
  outline: none;
}
input[type="range"].ratingSlider::-webkit-slider-runnable-track {
  width: 100%;
  height: 13.3px;
  cursor: pointer;
  box-shadow: 1.4px 1.4px 1.7px #ffb2df, 0px 0px 1.4px #ffccea;
  background: #ff91d8;
  border-radius: 25px;
  border: 2.3px solid #dbd58f;
}

input[type="range"].ratingSlider::-webkit-slider-thumb {
  box-shadow: 4.1px 4.1px 7.2px #27aaff, 0px 0px 4.1px #41b4ff;
  border: 5px solid #ffcdff;
  height: 30px;
  width: 30px;
  border-radius: 12px;
  background: #ffff7d;
  cursor: pointer;
  -webkit-appearance: none;
  margin-top: -10.65px;
}
input[type="range"].ratingSlider:focus::-webkit-slider-runnable-track {
  background: #ffbae6;
}
input[type="range"].ratingSlider::-moz-range-track {
  width: 100%;
  height: 13.3px;
  cursor: pointer;
  box-shadow: 1.4px 1.4px 1.7px #ffb2df, 0px 0px 1.4px #ffccea;
  background: #ff91d8;
  border-radius: 25px;
  border: 2.3px solid #dbd58f;
}
input[type="range"].ratingSlider::-moz-range-thumb {
  box-shadow: 4.1px 4.1px 7.2px #27aaff, 0px 0px 4.1px #41b4ff;
  border: 5px solid #ffcdff;
  height: 30px;
  width: 30px;
  border-radius: 12px;
  background: #ffff7d;
  cursor: pointer;
}
input[type="range"].ratingSlider::-ms-track {
  width: 100%;
  height: 13.3px;
  cursor: pointer;
  background: transparent;
  border-color: transparent;
  color: transparent;
}
input[type="range"].ratingSlider::-ms-fill-lower {
  background: #ff68ca;
  border: 2.3px solid #dbd58f;
  border-radius: 50px;
  box-shadow: 1.4px 1.4px 1.7px #ffb2df, 0px 0px 1.4px #ffccea;
}
input[type="range"].ratingSlider::-ms-fill-upper {
  background: #ff91d8;
  border: 2.3px solid #dbd58f;
  border-radius: 50px;
  box-shadow: 1.4px 1.4px 1.7px #ffb2df, 0px 0px 1.4px #ffccea;
}
input[type="range"].ratingSlider::-ms-thumb {
  box-shadow: 4.1px 4.1px 7.2px #27aaff, 0px 0px 4.1px #41b4ff;
  border: 5px solid #ffcdff;
  height: 30px;
  width: 30px;
  border-radius: 12px;
  background: #ffff7d;
  cursor: pointer;
  height: 13.3px;
}
input[type="range"].ratingSlider:focus::-ms-fill-lower {
  background: #ff91d8;
}
input[type="range"].ratingSlider:focus::-ms-fill-upper {
  background: #ffbae6;
}
/* end of input */
/* end of chonders */

/* hall of chonks */
.hallCatImageContainer img {
  height: 90%;
  width: auto;
  object-fit: cover;
}

.hallCatImageContainer {
  height: 300px;
  display: flex;
  flex-direction: column;
  margin: 20px;
}

.hallListOfCats {
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
}

/* user page */
/* uploading */
#mediaCapture {
  display: none;
}

#image-form #submitImage {
  width: auto;
  padding: 0 6px 0 1px;
  min-width: 0;
}

.uploadedCats {
  display: flex;
}

.userUploadedImages {
  width: 15%;
}
/* end of uploading */

footer {
  position: fixed;
  bottom: 0;
  left: 0;
  right: 0;
  text-align: center;
  background: #6947E5;
  color: white;
  padding: 5px;
}